.nav {
  background-color: #3366ff;
}
li a {
  color: white;
}
#firstBox {
  height: 400px;
  background-color: #6bb56b;
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
}
#secondBox {
  height: 400px;
  background-color: #299bff;
  border: solid;
}
#secondBox > p {
  font-weight: 700;
  font-size: small;
}
#thirdBox {
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
#col1 {
  background-color: #fff7bd;
}
#col2 {
  background-color: #ffed69;
}
#col3 {
  background-color: #ffe41f;
}
#firstBox p {
  color: white;
  margin: auto;
}
